@tailwind base;
@tailwind components;
@tailwind utilities;


.anidown
{
    animation: down 0.5s linear 1 ;
    color:#454545;
}
@keyframes down {
    0%
    {
        width:0;
    }
    
    100%
    {
        width: 50%;
    }

    
}
